/* .html {
  display: flex;
} */

#motoMeetup {
    background: url(assets/bike_event1.jpeg) center center no-repeat;
    background-size: cover;
    margin-top: .25in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
  }

  #motoMeetup > h2 {
    color: rgb(247, 216, 92);
    text-align: start;
    display: inline flow;
    font-size: 4.5em;
    margin-block-start: 3in;
    margin-block-end: 8in;
    margin-inline-start: 200px;
    margin-inline-end: 200px;
    margin-top: .5em;
    margin-left: .75em;
    font-weight: bold;
  }

  .weather > h3 {
    text-align: start;
    color: rgb(185, 0, 0);
    padding-left: 2em;
  }

  #motoMeetup > a {
    text-decoration: none;
    color: rgb(247, 216, 92);
    font-size: 1.5em;
    padding: 1.5rem;
    border-radius: 10px;
  }

  form {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
  }

  form > * {
    margin: 0.5rem;
  }

form > input[type="submit"] {
    width: 40%;
    margin: 0.5rem;
    margin-right: auto;
  }


  footer {
    margin: 3rem;
  }
  header {
    margin: 2rem;
  }

  .box {
    background-color: #cba900;
    border: 5px solid rgb(0, 0, 0);
    display: flow-root;
    padding: 30px 30px 30px 50px;

  }

  .float > nav {
    float: inline-start;
    width: 500px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.709);
    border: 1px solid black;
  }

  #about {
    margin: 1rem;
  }

  #myRiders {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    height: auto;
    width: 92.5%;
    margin: auto;
  }

  #myRiders tbody {
    width: 100%;
  }

  #myRiders th {
    text-align: left;
  }

  #myRiders td,th {
    width: 25%;
  }
  #myRiders {
     height: 180px;
  }

  @media (max-width: 549px){
    .hidden--mobile {
      display: none !important;

    }

    nav {
      display: flex;
      align-items: center;
      flex-direction: column;
      grid-row: auto;

    }

    nav > i {
      padding: 1rem;
      font-size: 2em;

    }

    nav > ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 0;
    }

    nav > ul > li {
      padding: 0.5rem;
      list-style-type: none;
    }

    #about img {
      float: left;
      width: 100%;
      height: auto;
      margin-right: 5rem;
    }
  }

  @media (min-width: 550px) {
    nav > ul {
      display: flex;
      justify-content: space-evenly;
      padding: 0 0;
      color:rgba(255, 255, 255, 0.709);

    }




    nav > ul > li {
      display: inline-block;
      text-decoration: none;
      border: 1px solid;
      padding: 0.5rem 0.5rem;
      border-radius: 2px;
    }

    nav > .fa-bars {
      display: none;
    }

    nav > .fa-ul {
      display: inline-block;
    }

   nav > .span {
      display: inline-block;
    }

    #about {
      margin-right: 10rem;
    }

    #about img {
      float: inline-start;
      width: 25%;
      height: auto;
      margin-right: 1rem;
    }

    .routeMap {
      max-width: 1000px;
    }

    #map {
      height: 600px;
    }
p {
  font-size: 20px;
}
ul {
  font-size: 20px;
}

.items1 > label {
  margin-top: 3em;
  display: table-row;
}

/* NEW FORM CSS*/
/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: grid;
  width: 100%;
  padding: 1em;
  margin: 0;
  -webkit-appearance: radio;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  margin: 5px;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}
#map {
  margin: 0;
  padding: 0;
  height: 60vh;
}

