.html {
  display: flex;
}

#motoMeetup {
    background: url(assets/bike_event1.jpeg) center center no-repeat;
    background-size: cover;
    margin-top: .25in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #motoMeetup > h2 {
    color: rgb(247, 216, 92);
    text-align: start;
    display: inline flow;
    font-size: 4.5em;
    margin-block-start: 3in;
    margin-block-end: 8in;
    margin-inline-start: 200px;
    margin-inline-end: 200px;
    margin-top: .5em;
    margin-left: .75em;
    font-weight: bold;
  }

  .weather > h3 {
    text-align: start;
    color: rgb(185, 0, 0);
    padding-left: 2em;
  }

  #motoMeetup > a {
    text-decoration: none;
    color: rgb(247, 216, 92);
    font-size: 1.5em;
    padding: 1.5rem;
    border-radius: 10px;
  }

  form {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
  }

  form > * {
    margin: 0.5rem;
  }

  form > input[type="submit"] {
    width: 40%;
    margin: 0.5rem;
    margin-right: auto;
  }

  footer {
    margin: 3rem;
  }
  header {
    margin: 2rem;
  }

  .box {
    background-color: #fd580bc7;
    border: 5px solid rgb(0, 0, 0);
    display: flow-root;
  }

  .float > nav {
    float: left;
    width: 500px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.709);
    border: 1px solid black;
    padding: 20px;
  }

  #about {
    margin: 10rem;
  }

  #Maps {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    height: auto;
    width: 92.5%;
    margin: auto;
  }

  #maps tbody {
    width: 100%;
  }

  #maps th {
    text-align: left;
  }

  #maps td,th {
    width: 25%;
  }
  #map {
     height: 180px;
  }

  @media (max-width: 549px){
    .hidden--mobile {
      display: none !important;

    }

    nav {
      display: flex;
      align-items: center;
      flex-direction: column;
      grid-row: auto;

    }

    nav > i {
      padding: 1rem;
      font-size: 2em;

    }

    nav > ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 0;
    }

    nav > ul > li {
      padding: 0.5rem;
      list-style-type: none;
    }

    #about > img {
      float: left;
      width: 100%;
      height: auto;
      margin-right: 20rem;
    }
  }

  @media (min-width: 550px) {
    nav > ul {
      display: flex;
      justify-content: space-evenly;
      padding: 0 0;
      color:rgba(255, 255, 255, 0.709);

    }

    nav > ul > li {
      display: inline-block;
      text-decoration: none;
      border: 1px solid;
      padding: 0.5rem 0.5rem;
      border-radius: 2px;
    }

    nav > .fa-bars {
      display: none;
    }

    #bio {
      margin-right: 3rem;
    }

   .groupRider {
      float: none;
      width: 100%;
      height: auto;
    }
  }
  .groupRider {
    width: 250px;
}

